<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: AppLayout('home', ~{::content}, null)">

<th:block th:fragment="content">
    <div class="flex flex-col gap-2">

        <!-- 통화 대상이 있을 때 -->
        <div th:if="${home.targetNickname != null}"
             class="px-6 py-8 mt-16 rounded-2xl shadow-[0_0_10px_rgba(0,0,0,0.08)]">

            <div class="flex items-center gap-4">

                <img class="h-14 w-14 rounded-full object-cover"
                     th:src="${home.getTargetProfileImage()}"
                     alt="profile"/>

                <div class="text-left">
                    <p class="text-[20px] font-bold text-[#AB8D66]"
                       th:text="${home.targetNickname + '님과'}"></p>

                    <p class="text-[16px] font-bold"
                       th:text="'&quot;' + ${home.ajenda} + '&quot;'"></p>

                    <p class="text-[16px] font-bold">주제로 통화해보세요!</p>
                </div>
            </div>
        </div>


        <!-- 통화 대상이 없을 때 -->
        <div th:unless="${home.targetNickname != null}"
             class="flex flex-col px-6 py-8 items-center justify-center text-center mt-16
                rounded-2xl shadow-[0_0_10px_rgba(0,0,0,0.08)]">

            <p class="text-[16px] font-bold text-[#AB8D66]">
                추천 주제가 없습니다...<br>
                가족과 통화해보세요!
            </p>
        </div>


        <a th:href="@{/album}">
            <div class="flex flex-col px-6 py-8 items-center justify-center text-center mt-16
            rounded-2xl shadow-[0_0_10px_rgba(0,0,0,0.08)]">

                <!-- 썸네일이 있을 때(앨범 있을 때) -->
                <img class="w-full"
                     th:if="${home.albumThumbnail != null}"
                     th:src="@{'/photo/file/' + ${home.albumThumbnail}}"
                     alt="album-thumbnail"/>

                <!-- 썸네일이 없을 때(앨범 없을 때) -->
                <p th:if="${home.albumThumbnail == null}"
                   class="text-[16px] font-bold text-[#AB8D66]">
                    아직 앨범이 없어요!<br>가족 앨범을 만들어보세요 📸
                </p>

            </div>
        </a>


        <div class="flex flex-col px-6 py-8 items-center justify-center text-center mt-16
        rounded-2xl shadow-[0_0_10px_rgba(0,0,0,0.08)]">
            <a th:href="@{/letter}">
            <p class = "text-[16px] font-bold text-[#AB8D66]">현재 읽지 않은 편지가</p>
            <p id="unreadLetterCount" class="text-[16px] font-bold text-[#AB8D66]" th:text="${home.unreadLetterCount + '개 있어요!'}"></p>
            </a>
    </div>

    </div>

    <script th:inline="javascript">
        const unreadCountElem = document.getElementById('unreadLetterCount');

        if (unreadCountElem) {
            const homeEventSource = new EventSource('/sse/letters');

            homeEventSource.onmessage = function (event) {
                const data = JSON.parse(event.data);
                console.log("[HOME SSE] 이벤트 도착:", data);

                // unreadCount 값만 있으면 갱신
                if (typeof data.unreadCount === "number") {
                    unreadCountElem.textContent = data.unreadCount + "개 있어요!";
                }
            };

            homeEventSource.onerror = function (err) {
                console.error("SSE 연결 오류", err);
            };
        }
    </script>


</th:block>

</html>
